@font-face {
    font-family: "Azeret Mono";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/AzeretMono-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "Azeret Mono", monospace;
    font-weight: bold;
    margin: 0;
    display: flex;
    color: white;
}

#modal-overlay {
    border: 0em;
    background-color: transparent;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#bg-image {
    background-image: url("../img/MSCBuildingSpringSummer.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#bg-gradient {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(155, 4, 43, 1) 120%
    );
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
}

#clock {
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

#content {
    justify-content: center;
    align-items: center;
}

#emblem {
    position: absolute;
    width: 12vw;
    height: 12vw;
    top: 15px;
    right: 15px;
}

#dayInfoContainer {
    display: flex;
    font-size: 4em;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#bufferBar {
    margin: 0px 45px;
    width: 15px;
    height: 65px;
    background: white;
}

#letterDay {
    margin: 0px;
}

#date {
    margin: 0px;
}

#buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.01%;
    width: 95vw;
    flex-wrap: wrap;
}

.icon {
    height: 45px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 12px black;
    cursor: pointer;
}

.iconContainer {
    position: relative;
    margin: 0px 20px;
}

.icon[alt="bellschedule"] {
    cursor: pointer;
}

#bellScheduleContainer {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease-in-out;
}

#bellScheduleContainer.bellScheduleShown {
    width: 100%;
}

#bellSchedule {
    height: 85%;
}

.errorPopupContainer {
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorPopupContainer > p {
    text-align: center;
}
