@font-face {
    font-family: "Azeret Mono";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("../fonts/AzeretMono/AzeretMono-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.woff2") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-display: block;
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.woff2") format("woff2");
}

:root {
    --selected-font-family: "Azeret Mono", monospace;
    --selected-background: url("../img/spring_summer.webp");
    --selected-gradient: rgba(155, 4, 43, 1);
}  

body {
    font-family: var(--selected-font-family);
    font-weight: bold;
    margin: 0;
    display: flex;
    color: white;
}

#modal-overlay {
    border: 0em;
    background-color: transparent;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#bg-image {
    background-image: var(--selected-background);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#bg-gradient {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 20%,
        var(--selected-gradient) 120%
    );
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
}

#clock {
    font-size: 6rem;
    font-feature-settings: "tnum"; /* This prevents the clock from randomly shifting around. */
    text-align: center;
    margin: 0;
    padding: 0;
}

#content {
    justify-content: center;
    align-items: center;
}

#emblem {
    position: absolute;
    width: 12vw;
    height: 12vw;
    top: 15px;
    right: 15px;
}

#dayInfoContainer {
    display: flex;
    font-size: 4em;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#bufferBar {
    margin: 0px 45px;
    width: 15px;
    height: 65px;
    background: white;
}

#letterDay {
    margin: 0px;
}

#date {
    margin: 0px;
}

#buttonContainer {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    /* 40px would be more accurate but 30px looks better. https://youtu.be/i7ZW4_cbII8 */
    row-gap: 30px;
    width: 95vw;
    flex-wrap: wrap;
}

.icon {
    height: 45px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 12px black;
    cursor: pointer;
}

.iconContainer {
    position: relative;
    margin: 0px 20px;
}

.icon[alt="bellschedule"] {
    cursor: pointer;
}

#bellScheduleContainer {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease-in-out;
}

#bellScheduleContainer.bellScheduleShown {
    width: 100%;
}

#bellSchedule {
    height: 85%;
}

.errorPopupContainer {
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorPopupContainer > p {
    text-align: center;
}

.no-user-select {
    user-select: none;
    -webkit-user-select: none; /* Does Safari support matter in a Chrome extension? I think it does. */
}